@import "tailwindcss";
.dot {
    width: 23px;
    height: 23px;
    background-color: #023665;
    border-radius: 50%;
    opacity: 0.3;
    transition: opacity 0.3s;
  }
  
  .dot-active {
    opacity: 1;
  }
  
  